@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  /*Etiquetas puras*/
  h1 {
    @apply text-[28px] sm:text-[70px] text-[#43311F] text-center
     font-bold font-poppins 
  }
}
@layer components {
  /*Clases*/
  
}
@layer utilities {
  /*Clases 
  No textos, no de imágenes, no etiquetas
  */
  .containerMain{
    @apply w-full sm:h-screen
  }

  .containerWhyM {
    @apply w-full px-[4%] mx-auto
    xl:max-w-[1202px]
  }

  .containerWork {
    @apply w-full px-[2%] mx-auto
    xl:max-w-[1020px]
  }

  .containerKitPrincipal {
    @apply w-full mx-auto 
    xl:max-w-[1440px]
  }
}